<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCWHEmyv-8YJEfnThO8QMPB6tuOhcRR2dk</string>
	<key>GCM_SENDER_ID</key>
	<string>110117611306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cutflow</string>
	<key>PROJECT_ID</key>
	<string>cutflow-1925a</string>
	<key>STORAGE_BUCKET</key>
	<string>cutflow-1925a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:110117611306:ios:c55d629f2c027ae099a053</string>
</dict>
</plist>